.member {
  display: grid;
  text-align: center;
  overflow: hidden;
}
.member > div:first-child {
  overflow: hidden;
  border-radius: 1vw;
  display: grid;
  margin-bottom: 1vw;
}

.member:hover img {
  scale: 1.2;
}
